*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 10%
}

h3.header {
  text-align: center;
  font-family: 'Glass Antiqua', cursive;
  font-size: 2rem;
  color: rgb(83, 83, 83);
  font-weight: 800;
  }

h1.landing-header{
  font-family: 'Rubik Gemstones', cursive;
  font-size: 5rem;
}

span#find{
  color: #F51034;
  font-family: 'Rubik Gemstones', cursive;

}
p.landing-text{
  font-size: 1.5rem;
}
p.landing-text2{
  font-size: 1.5rem;
  font-weight: 700;
  
}
h5#logoname{
font-size: 1.5rem;
font-family: 'Rubik Gemstones', cursive;
color: #F51034;

}
span.mapenilogo{
  font-size: 1.7rem;
}

li{
  font-size: 1.2rem;
}

#card{
  border: none;
}
#cardfooter{
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
